<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body>
  <h2>Email</h2>
  <a href = "{{ url_for('logout') }}">Deconnexion</a>
  <hr/>
      <form action = "{{ request.path }}" method = "POST">
         <label >Subject</label><br>
         <input type = "text" name = "subject" placeholder = "Object" /><br>
         <label >Text</label><br>
         <textarea name="body" placeholder="Corps du mail possible en balise HTML"></textarea><br>
         <input type = "submit" value = "Submit" />
          <p>{{ msg }}</p>
      </form>

    <button><a href = "{{ url_for('show_all') }}">Home</a></button>

</body>
</html>