<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="X-UA-Compatible" content="text/html">
</head>
   <body>

      <h3>Login</h3>

      <form action = "{{ request.path }}" method = "post">
         <label for = "email" >Email</label> <br>
         <input type = "email" name = "email" placeholder = "email" /><br>
          <label for = "Password" >Password</label> <br>
          <input type = "password" name = "password" placeholder = "password" /><br>
         <input type = "submit" value = "Submit" />
      </form>
    <p> {{msg}}</p>
   </body>
</html>